.grid {
  display: grid;
  grid-template-columns:auto auto auto auto auto
  auto auto auto auto auto;
  padding: 10px;
  width: auto;
  height: auto;
}

.item {
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
